* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary: #62dddd;
  --bg: #010101;
  --font: #31b83e;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: #fff;
}

#header {
  width: 100%;
  min-height: 100vh;
  background-image: url(/Wyata-Guna/sentra-wyataguna/img/wyataGuna.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
/* General container */
.container {
  padding: 10px 7%;
}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 7%;
  border-bottom: 1px solid var(--font);
}

.navbar-left {
  display: flex;
  align-items: center;
}

/* Logo styling */
.logo {
  height: 50px;
  margin-right: 10px;
}

/* Title styling */
.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  color: var(--font);
  text-decoration: none;
}

/* Right side of the navbar (menu) */
.navbar-right {
  display: flex;
  list-style: none;
  font-weight: bold;
}

.navbar-right li {
  margin-left: 40px;
}

.navbar-right a {
  text-decoration: none;
  color: var(--font); /* Warna link */
  font-size: 18px;
  position: relative;
}
.navbar-right li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--font);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar-right li a:hover::after {
  width: 100%;
}

/* Header text styling */
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text img {
  padding: 10px 0;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header-text p {
  margin-bottom: 50px;
}

.btn {
  display: block;
  font-weight: bold;
  font-size: 24px;
  width: fit-content;
  border: 1px solid var(--font);
  padding: 5px 70px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--font);
  transition: background 0.5s;
}
.btn:hover {
  background: var(--font);
  color: #fff;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-right li {
    margin-left: 0;
    margin-top: 10px;
  }
}
